.btn{
    background-color: var(--color-primary);
    max-width:max-content;
    padding: .4rem 2rem;
    color: white;
    text-decoration: none;
    text-align: center;
    height: fit-content;
}